<div class="flex flex-col justify-between space-y-6">
  <a
    href="/src/pages/addTransaction/expense/step2.html"
    class="py-5 pl-2.5 bg-[#E0E0E0] rounded-xl w-full shadow"
  >
    <span class="flex items-center space-x-3">
      <div
        class="flex justify-center items-center bg-white h-10 w-10 rounded-lg text-icon-blue p-1"
      >
        <i class="fa-solid fa-cart-shopping fa-xl"></i>
      </div>
      <div class="flex justify-between">
        <p class="font-semibold tracking-widest text-2xl">Groceries</p>
      </div>
    </span>
  </a>
  <a
    href="/src/pages/addTransaction/expense/step2.html"
    class="py-5 pl-2.5 bg-[#E0E0E0] rounded-xl w-full shadow"
  >
    <span class="flex items-center space-x-3">
      <div
        class="flex justify-center items-center bg-white h-10 w-10 rounded-lg text-icon-purple p-1"
      >
        <i class="fa-solid fa-gamepad fa-xl"></i>
      </div>
      <div class="flex justify-between">
        <p class="font-semibold tracking-widest text-2xl">Hobbies</p>
      </div>
    </span>
  </a>
</div>
