<div class="bg-transparent border border-secondary-gray rounded-xl w-full p-2">
  <a href="/src/pages/editTransaction/expense/step2.html">
    <span class="flex items-center space-x-3">
      <div
        class="flex justify-center items-center bg-icon-gray h-10 w-10 rounded-lg text-icon-purple p-1"
      >
        <i class="fa-solid fa-gamepad fa-xl"></i>
      </div>
      <div class="flex justify-between">
        <p class="tracking-widest text-2xl">Hobbies</p>
      </div>
    </span>
  </a>
</div>
