<div class="grid grid-cols-4 gap-8 px-4">
  <div
    class="bg-[#E2E2E2] w-14 h-14 rounded-lg flex justify-center items-center"
  >
    <i class="fa-solid fa-cart-shopping fa-2xl"></i>
  </div>
  <div
    class="bg-[#E2E2E2] w-14 h-14 rounded-lg flex justify-center items-center"
  >
    <i class="fa-solid fa-car fa-2xl"></i>
  </div>
  <div
    class="bg-[#E2E2E2] w-14 h-14 rounded-lg flex justify-center items-center"
  >
    <i class="fa-solid fa-train-subway fa-2xl"></i>
  </div>
  <div
    class="bg-[#E2E2E2] w-14 h-14 rounded-lg flex justify-center items-center"
  >
    <i class="fa-solid fa-guitar fa-2xl"></i>
  </div>
  <div
    class="bg-[#E2E2E2] w-14 h-14 rounded-lg flex justify-center items-center"
  >
    <i class="fa-solid fa-house fa-2xl"></i>
  </div>
  <div
    class="bg-[#E2E2E2] w-14 h-14 rounded-lg flex justify-center items-center"
  >
    <i class="fa-solid fa-gas-pump fa-2xl"></i>
  </div>
  <div
    class="bg-[#E2E2E2] w-14 h-14 rounded-lg flex justify-center items-center"
  >
    <i class="fa-solid fa-bolt fa-2xl"></i>
  </div>
  <div
    class="bg-[#E2E2E2] w-14 h-14 rounded-lg flex justify-center items-center"
  >
    <i class="fa-solid fa-gamepad fa-2xl"></i>
  </div>
</div>
