<nav
  class="absolute bottom-0 bg-white w-full h-14 flex justify-center items-center shadow-navbar"
>
  <div class="flex justify-center items-center space-x-8 text-primary-green">
    <a href="/src/pages/home.html" class="cursor-pointer"
      ><i class="fa-solid fa-house fa-2xl"></i
    ></a>
    <a href="/src/pages/transactions.html" class="cursor-pointer"
      ><i class="fa-solid fa-money-bill-transfer fa-2xl"></i
    ></a>
    <a href="/src/pages/newTransaction.html" class="cursor-pointer"
      ><i class="fa-solid fa-circle-plus fa-2xl"></i
    ></a>
    <a href="/src/pages/budgets.html" class="cursor-pointer"
      ><i class="fa-solid fa-sack-dollar fa-2xl"></i
    ></a>
  </div>
</nav>
